@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Patua+One&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

html {
    /* cada 1rem será 10px */
    font-size: 62.5%;
    /* margin: 62.5%; */
    /* padding: 62.5%; */
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    max-width: 1700px;
    margin: 0 auto;
    overflow-y: none;

    font-family: Merriweather Sans, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;

}

/* ------------------------------------------------  
# Class Globais editadas
 ------------------------------------------------ */

.cards {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 3.0rem 0;
}

.elipse {
    width: 15px;
    height: 15px;
    border-radius: 100%;

    background: #E7DE79;
    border: 2px solid #837E9F;
}

.font-title-name {
    font-family: Merriweather Sans;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.font-title {
    font-family: Merriweather Sans;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.font-title-card {
    font-family: Merriweather Sans;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.font-content-card {
    font-family: Merriweather Sans;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.font-smal-subtitle {
    font-family: Merriweather Sans;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0rem;
    text-align: left;

}

/* ------------------------------------------------ */


.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    padding: 4rem;

}

.wrapper-1 {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-1 .profile {
    width: 100%;
    height: 292px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-cards);
}

.wrapper-1 .profile .image-wrapper img {
    border-radius: 100%;
    border: 2px solid #00FF00;
    width: 12.8rem;
    margin-bottom: 3.0rem;
}

.wrapper-1 .profile h6 {
    margin-bottom: 1.0rem;
}

.wrapper-1 .info-about {
    width: 100%;
    height: 348px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--bg-cards);
}

.wrapper-1 .info-wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper-1 .content-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.0rem;

}

.wrapper-1 .content-info img {
    margin-right: 10px;
}


.wrapper-2 {
    color: var(--text-color);
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.wrapper-2 .projects-title {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    background-color: var(--bg-cards);
    color: var(--text-color);

}

.wrapper-2 .wrapper-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wrapper-2 .projects-card {
    width: 50%;
    height: 186px;
    background-color: var(--bg-cards);
    border-radius: 20px;
    padding: 30px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-2 .projects-card:nth-child(2) {
    margin-left: 30px;
}

.wrapper-2 .projects-card .title-card-projects {
    display: flex;
    align-items: center;
    margin-right: 9.16px;
}

.wrapper-2 .projects-card .title-card-projects img {
    margin-right: 9.16px;
}

.wrapper-2 .projects-card .wrapper-botton-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.wrapper-2 .projects-card .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper-2 .projects-card .icons .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 16px;

}

.wrapper-2 .projects-card .icons .icon p {
    margin-right: 9.67px;

}

.wrapper-2 .projects-card .wrapper-botton-card .tecnology {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper-2 .projects-card .wrapper-botton-card .tecnology .elipse {
    margin-right: 9.67px;
}